Canal de Panama Cliente/src/conf/xml-resources/web-service-references/conexionBD/wsdl/localhost_8083/CanalPanamaServer/conexionBD.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servidor/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servidor/">

<xs:element name="RHException" type="tns:RHException"/>

<xs:element name="cerrarConexion" type="tns:cerrarConexion"/>

<xs:element name="cerrarConexionResponse" type="tns:cerrarConexionResponse"/>

<xs:element name="realizarConexion" type="tns:realizarConexion"/>

<xs:element name="realizarConexionResponse" type="tns:realizarConexionResponse"/>

<xs:complexType name="cerrarConexion">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cerrarConexionResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="RHException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="realizarConexion">
<xs:sequence>
<xs:element name="usu" type="xs:string" minOccurs="0"/>
<xs:element name="pas" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="realizarConexionResponse">
<xs:sequence>
<xs:element name="return" type="xs:boolean"/>
</xs:sequence>
</xs:complexType>
</xs:schema>