Canal de Panama Cliente/web/WEB-INF/wsdl/localhost_8083/CanalPanamaServer/Pago.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servidor/" name="Pago">
<types>
<xsd:schema>
<xsd:import namespace="http://Servidor/" schemaLocation="http://localhost:8083/CanalPanamaServer/Pago?xsd=1"/>
</xsd:schema>
</types>
<message name="generarPDFReserva">
<part name="parameters" element="tns:generarPDFReserva"/>
</message>
<message name="generarPDFReservaResponse">
<part name="parameters" element="tns:generarPDFReservaResponse"/>
</message>
<message name="RHException">
<part name="fault" element="tns:RHException"/>
</message>
<message name="pagarOrdenReserva">
<part name="parameters" element="tns:pagarOrdenReserva"/>
</message>
<message name="pagarOrdenReservaResponse">
<part name="parameters" element="tns:pagarOrdenReservaResponse"/>
</message>
<message name="leerPagosCoord">
<part name="parameters" element="tns:leerPagosCoord"/>
</message>
<message name="leerPagosCoordResponse">
<part name="parameters" element="tns:leerPagosCoordResponse"/>
</message>
<message name="leerPagosCliente">
<part name="parameters" element="tns:leerPagosCliente"/>
</message>
<message name="leerPagosClienteResponse">
<part name="parameters" element="tns:leerPagosClienteResponse"/>
</message>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<portType name="Pago">
<operation name="generarPDFReserva">
<input wsam:Action="http://Servidor/Pago/generarPDFReservaRequest" message="tns:generarPDFReserva"/>
<output wsam:Action="http://Servidor/Pago/generarPDFReservaResponse" message="tns:generarPDFReservaResponse"/>
<fault message="tns:RHException" name="RHException" wsam:Action="http://Servidor/Pago/generarPDFReserva/Fault/RHException"/>
</operation>
<operation name="pagarOrdenReserva">
<input wsam:Action="http://Servidor/Pago/pagarOrdenReservaRequest" message="tns:pagarOrdenReserva"/>
<output wsam:Action="http://Servidor/Pago/pagarOrdenReservaResponse" message="tns:pagarOrdenReservaResponse"/>
<fault message="tns:RHException" name="RHException" wsam:Action="http://Servidor/Pago/pagarOrdenReserva/Fault/RHException"/>
</operation>
<operation name="leerPagosCoord">
<input wsam:Action="http://Servidor/Pago/leerPagosCoordRequest" message="tns:leerPagosCoord"/>
<output wsam:Action="http://Servidor/Pago/leerPagosCoordResponse" message="tns:leerPagosCoordResponse"/>
<fault message="tns:RHException" name="RHException" wsam:Action="http://Servidor/Pago/leerPagosCoord/Fault/RHException"/>
</operation>
<operation name="leerPagosCliente">
<input wsam:Action="http://Servidor/Pago/leerPagosClienteRequest" message="tns:leerPagosCliente"/>
<output wsam:Action="http://Servidor/Pago/leerPagosClienteResponse" message="tns:leerPagosClienteResponse"/>
<fault message="tns:RHException" name="RHException" wsam:Action="http://Servidor/Pago/leerPagosCliente/Fault/RHException"/>
</operation>
<operation name="hello">
<input wsam:Action="http://Servidor/Pago/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Servidor/Pago/helloResponse" message="tns:helloResponse"/>
</operation>
</portType>
<binding name="PagoPortBinding" type="tns:Pago">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="generarPDFReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RHException">
<soap:fault name="RHException" use="literal"/>
</fault>
</operation>
<operation name="pagarOrdenReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RHException">
<soap:fault name="RHException" use="literal"/>
</fault>
</operation>
<operation name="leerPagosCoord">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RHException">
<soap:fault name="RHException" use="literal"/>
</fault>
</operation>
<operation name="leerPagosCliente">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RHException">
<soap:fault name="RHException" use="literal"/>
</fault>
</operation>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="Pago">
<port name="PagoPort" binding="tns:PagoPortBinding">
<soap:address location="http://localhost:8083/CanalPanamaServer/Pago"/>
</port>
</service>
</definitions>