Canal de Panama Cliente/web/WEB-INF/wsdl/localhost_8083/CanalPanamaServer/Paso.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servidor/" name="Paso">
<types>
<xsd:schema>
<xsd:import namespace="http://Servidor/" schemaLocation="http://localhost:8083/CanalPanamaServer/Paso?xsd=1"/>
</xsd:schema>
</types>
<message name="modificarCupoPaso">
<part name="parameters" element="tns:modificarCupoPaso"/>
</message>
<message name="modificarCupoPasoResponse">
<part name="parameters" element="tns:modificarCupoPasoResponse"/>
</message>
<message name="RHException">
<part name="fault" element="tns:RHException"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="insertarCupoPaso">
<part name="parameters" element="tns:insertarCupoPaso"/>
</message>
<message name="insertarCupoPasoResponse">
<part name="parameters" element="tns:insertarCupoPasoResponse"/>
</message>
<message name="leerFechasCupos">
<part name="parameters" element="tns:leerFechasCupos"/>
</message>
<message name="leerFechasCuposResponse">
<part name="parameters" element="tns:leerFechasCuposResponse"/>
</message>
<message name="leerCupos">
<part name="parameters" element="tns:leerCupos"/>
</message>
<message name="leerCuposResponse">
<part name="parameters" element="tns:leerCuposResponse"/>
</message>
<portType name="Paso">
<operation name="modificarCupoPaso">
<input wsam:Action="http://Servidor/Paso/modificarCupoPasoRequest" message="tns:modificarCupoPaso"/>
<output wsam:Action="http://Servidor/Paso/modificarCupoPasoResponse" message="tns:modificarCupoPasoResponse"/>
<fault message="tns:RHException" name="RHException" wsam:Action="http://Servidor/Paso/modificarCupoPaso/Fault/RHException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://Servidor/Paso/modificarCupoPaso/Fault/ParseException"/>
</operation>
<operation name="insertarCupoPaso">
<input wsam:Action="http://Servidor/Paso/insertarCupoPasoRequest" message="tns:insertarCupoPaso"/>
<output wsam:Action="http://Servidor/Paso/insertarCupoPasoResponse" message="tns:insertarCupoPasoResponse"/>
<fault message="tns:RHException" name="RHException" wsam:Action="http://Servidor/Paso/insertarCupoPaso/Fault/RHException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://Servidor/Paso/insertarCupoPaso/Fault/ParseException"/>
</operation>
<operation name="leerFechasCupos">
<input wsam:Action="http://Servidor/Paso/leerFechasCuposRequest" message="tns:leerFechasCupos"/>
<output wsam:Action="http://Servidor/Paso/leerFechasCuposResponse" message="tns:leerFechasCuposResponse"/>
<fault message="tns:RHException" name="RHException" wsam:Action="http://Servidor/Paso/leerFechasCupos/Fault/RHException"/>
</operation>
<operation name="leerCupos">
<input wsam:Action="http://Servidor/Paso/leerCuposRequest" message="tns:leerCupos"/>
<output wsam:Action="http://Servidor/Paso/leerCuposResponse" message="tns:leerCuposResponse"/>
<fault message="tns:RHException" name="RHException" wsam:Action="http://Servidor/Paso/leerCupos/Fault/RHException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://Servidor/Paso/leerCupos/Fault/ParseException"/>
</operation>
</portType>
<binding name="PasoPortBinding" type="tns:Paso">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="modificarCupoPaso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RHException">
<soap:fault name="RHException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="insertarCupoPaso">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RHException">
<soap:fault name="RHException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="leerFechasCupos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RHException">
<soap:fault name="RHException" use="literal"/>
</fault>
</operation>
<operation name="leerCupos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RHException">
<soap:fault name="RHException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Paso">
<port name="PasoPort" binding="tns:PasoPortBinding">
<soap:address location="http://localhost:8083/CanalPanamaServer/Paso"/>
</port>
</service>
</definitions>