Canal de Panama Cliente/web/WEB-INF/wsdl/localhost_8083/CanalPanamaServer/Puja.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servidor/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servidor/">

<xs:element name="RHException" type="tns:RHException"/>

<xs:element name="crearPuja" type="tns:crearPuja"/>

<xs:element name="crearPujaResponse" type="tns:crearPujaResponse"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="leerMisPujas" type="tns:leerMisPujas"/>

<xs:element name="leerMisPujasResponse" type="tns:leerMisPujasResponse"/>

<xs:complexType name="crearPuja">
<xs:sequence>
<xs:element name="k_subasta" type="xs:long"/>
<xs:element name="v_puja" type="xs:long"/>
<xs:element name="k_identificacion" type="xs:long"/>
<xs:element name="k_tipoid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="crearPujaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="RHException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="leerMisPujas">
<xs:sequence>
<xs:element name="k_identificacion" type="xs:long"/>
<xs:element name="k_tipoid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="leerMisPujasResponse">
<xs:sequence>
<xs:element name="return" type="tns:pujaVO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="pujaVO">
<xs:sequence>
<xs:element name="f_puja" type="xs:string" minOccurs="0"/>
<xs:element name="k_identificacion" type="xs:long"/>
<xs:element name="k_puja" type="xs:long"/>
<xs:element name="k_subasta" type="xs:long"/>
<xs:element name="k_tipoid" type="xs:string" minOccurs="0"/>
<xs:element name="n_estadopuja" type="xs:string" minOccurs="0"/>
<xs:element name="v_puja" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>