Canal de Panama Cliente/web/WEB-INF/wsdl/localhost_8083/CanalPanamaServer/Reserva.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servidor/" name="Reserva">
<types>
<xsd:schema>
<xsd:import namespace="http://Servidor/" schemaLocation="http://localhost:8083/CanalPanamaServer/Reserva?xsd=1"/>
</xsd:schema>
</types>
<message name="cargarEsclusa">
<part name="parameters" element="tns:cargarEsclusa"/>
</message>
<message name="cargarEsclusaResponse">
<part name="parameters" element="tns:cargarEsclusaResponse"/>
</message>
<message name="RHException">
<part name="fault" element="tns:RHException"/>
</message>
<message name="leerReservasPorDia">
<part name="parameters" element="tns:leerReservasPorDia"/>
</message>
<message name="leerReservasPorDiaResponse">
<part name="parameters" element="tns:leerReservasPorDiaResponse"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="revisarDisponibilidad">
<part name="parameters" element="tns:revisarDisponibilidad"/>
</message>
<message name="revisarDisponibilidadResponse">
<part name="parameters" element="tns:revisarDisponibilidadResponse"/>
</message>
<message name="leerMisReservas">
<part name="parameters" element="tns:leerMisReservas"/>
</message>
<message name="leerMisReservasResponse">
<part name="parameters" element="tns:leerMisReservasResponse"/>
</message>
<message name="insertarReserva">
<part name="parameters" element="tns:insertarReserva"/>
</message>
<message name="insertarReservaResponse">
<part name="parameters" element="tns:insertarReservaResponse"/>
</message>
<portType name="Reserva">
<operation name="cargarEsclusa">
<input wsam:Action="http://Servidor/Reserva/cargarEsclusaRequest" message="tns:cargarEsclusa"/>
<output wsam:Action="http://Servidor/Reserva/cargarEsclusaResponse" message="tns:cargarEsclusaResponse"/>
<fault message="tns:RHException" name="RHException" wsam:Action="http://Servidor/Reserva/cargarEsclusa/Fault/RHException"/>
</operation>
<operation name="leerReservasPorDia">
<input wsam:Action="http://Servidor/Reserva/leerReservasPorDiaRequest" message="tns:leerReservasPorDia"/>
<output wsam:Action="http://Servidor/Reserva/leerReservasPorDiaResponse" message="tns:leerReservasPorDiaResponse"/>
<fault message="tns:RHException" name="RHException" wsam:Action="http://Servidor/Reserva/leerReservasPorDia/Fault/RHException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://Servidor/Reserva/leerReservasPorDia/Fault/ParseException"/>
</operation>
<operation name="revisarDisponibilidad">
<input wsam:Action="http://Servidor/Reserva/revisarDisponibilidadRequest" message="tns:revisarDisponibilidad"/>
<output wsam:Action="http://Servidor/Reserva/revisarDisponibilidadResponse" message="tns:revisarDisponibilidadResponse"/>
<fault message="tns:RHException" name="RHException" wsam:Action="http://Servidor/Reserva/revisarDisponibilidad/Fault/RHException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://Servidor/Reserva/revisarDisponibilidad/Fault/ParseException"/>
</operation>
<operation name="leerMisReservas">
<input wsam:Action="http://Servidor/Reserva/leerMisReservasRequest" message="tns:leerMisReservas"/>
<output wsam:Action="http://Servidor/Reserva/leerMisReservasResponse" message="tns:leerMisReservasResponse"/>
<fault message="tns:RHException" name="RHException" wsam:Action="http://Servidor/Reserva/leerMisReservas/Fault/RHException"/>
</operation>
<operation name="insertarReserva">
<input wsam:Action="http://Servidor/Reserva/insertarReservaRequest" message="tns:insertarReserva"/>
<output wsam:Action="http://Servidor/Reserva/insertarReservaResponse" message="tns:insertarReservaResponse"/>
<fault message="tns:RHException" name="RHException" wsam:Action="http://Servidor/Reserva/insertarReserva/Fault/RHException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://Servidor/Reserva/insertarReserva/Fault/ParseException"/>
</operation>
</portType>
<binding name="ReservaPortBinding" type="tns:Reserva">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cargarEsclusa">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RHException">
<soap:fault name="RHException" use="literal"/>
</fault>
</operation>
<operation name="leerReservasPorDia">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RHException">
<soap:fault name="RHException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="revisarDisponibilidad">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RHException">
<soap:fault name="RHException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="leerMisReservas">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RHException">
<soap:fault name="RHException" use="literal"/>
</fault>
</operation>
<operation name="insertarReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RHException">
<soap:fault name="RHException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Reserva">
<port name="ReservaPort" binding="tns:ReservaPortBinding">
<soap:address location="http://localhost:8083/CanalPanamaServer/Reserva"/>
</port>
</service>
</definitions>