Canal de Panama Cliente/src/conf/xml-resources/web-service-references/Reserva/wsdl/localhost_8083/CanalPanamaServer/Reserva.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servidor/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servidor/">

<xs:element name="ParseException" type="tns:ParseException"/>

<xs:element name="RHException" type="tns:RHException"/>

<xs:element name="cargarEsclusa" type="tns:cargarEsclusa"/>

<xs:element name="cargarEsclusaResponse" type="tns:cargarEsclusaResponse"/>

<xs:element name="insertarReserva" type="tns:insertarReserva"/>

<xs:element name="insertarReservaResponse" type="tns:insertarReservaResponse"/>

<xs:element name="leerMisReservas" type="tns:leerMisReservas"/>

<xs:element name="leerMisReservasResponse" type="tns:leerMisReservasResponse"/>

<xs:element name="leerReservasPorDia" type="tns:leerReservasPorDia"/>

<xs:element name="leerReservasPorDiaResponse" type="tns:leerReservasPorDiaResponse"/>

<xs:element name="revisarDisponibilidad" type="tns:revisarDisponibilidad"/>

<xs:element name="revisarDisponibilidadResponse" type="tns:revisarDisponibilidadResponse"/>

<xs:complexType name="revisarDisponibilidad">
<xs:sequence>
<xs:element name="k_buque" type="xs:string" minOccurs="0"/>
<xs:element name="f_asignacioncupos" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="revisarDisponibilidadResponse">
<xs:sequence>
<xs:element name="return" type="tns:cupoPasoVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cupoPasoVO">
<xs:sequence>
<xs:element name="f_asignacioncupos" type="xs:string" minOccurs="0"/>
<xs:element name="k_cupopaso" type="xs:long"/>
<xs:element name="k_paso" type="xs:string" minOccurs="0"/>
<xs:element name="q_cdisponibles" type="xs:int"/>
<xs:element name="q_ctotales" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RHException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="ParseException">
<xs:sequence>
<xs:element name="errorOffset" type="xs:int"/>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="leerMisReservas">
<xs:sequence>
<xs:element name="usuario" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="leerMisReservasResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservaVO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reservaVO">
<xs:sequence>
<xs:element name="f_reserva" type="xs:string" minOccurs="0"/>
<xs:element name="f_transito" type="xs:string" minOccurs="0"/>
<xs:element name="i_dirtransito" type="xs:string" minOccurs="0"/>
<xs:element name="i_tiporeserva" type="xs:string" minOccurs="0"/>
<xs:element name="k_buque" type="xs:long"/>
<xs:element name="k_esclusa" type="xs:string" minOccurs="0"/>
<xs:element name="k_estadoreserva" type="xs:string" minOccurs="0"/>
<xs:element name="k_identificacion" type="xs:long"/>
<xs:element name="k_reserva" type="xs:long"/>
<xs:element name="k_tipoid" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="leerReservasPorDia">
<xs:sequence>
<xs:element name="f_transito" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="leerReservasPorDiaResponse">
<xs:sequence>
<xs:element name="return" type="tns:reservaVO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarReserva">
<xs:sequence>
<xs:element name="k_buque" type="xs:string" minOccurs="0"/>
<xs:element name="k_esclusa" type="xs:string" minOccurs="0"/>
<xs:element name="k_idresponsable" type="xs:string" minOccurs="0"/>
<xs:element name="k_tiporeserva" type="xs:string" minOccurs="0"/>
<xs:element name="i_dirtransito" type="xs:string" minOccurs="0"/>
<xs:element name="f_transito" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarReservaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cargarEsclusa">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="cargarEsclusaResponse">
<xs:sequence>
<xs:element name="return" type="xs:anyType" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>