Canal de Panama Cliente/src/conf/xml-resources/web-service-references/BancoCP/wsdl/localhost_8083/CanalPanamaServer/BancoCP.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servidor/" name="BancoCP">
<types>
<xsd:schema>
<xsd:import namespace="http://Servidor/" schemaLocation="http://localhost:8083/CanalPanamaServer/BancoCP?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="pagarReserva">
<part name="parameters" element="tns:pagarReserva"/>
</message>
<message name="pagarReservaResponse">
<part name="parameters" element="tns:pagarReservaResponse"/>
</message>
<message name="RHException">
<part name="fault" element="tns:RHException"/>
</message>
<message name="ClassNotFoundException">
<part name="fault" element="tns:ClassNotFoundException"/>
</message>
<portType name="BancoCP">
<operation name="hello">
<input wsam:Action="http://Servidor/BancoCP/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Servidor/BancoCP/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="pagarReserva">
<input wsam:Action="http://Servidor/BancoCP/pagarReservaRequest" message="tns:pagarReserva"/>
<output wsam:Action="http://Servidor/BancoCP/pagarReservaResponse" message="tns:pagarReservaResponse"/>
<fault message="tns:RHException" name="RHException" wsam:Action="http://Servidor/BancoCP/pagarReserva/Fault/RHException"/>
<fault message="tns:ClassNotFoundException" name="ClassNotFoundException" wsam:Action="http://Servidor/BancoCP/pagarReserva/Fault/ClassNotFoundException"/>
</operation>
</portType>
<binding name="BancoCPPortBinding" type="tns:BancoCP">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="pagarReserva">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RHException">
<soap:fault name="RHException" use="literal"/>
</fault>
<fault name="ClassNotFoundException">
<soap:fault name="ClassNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="BancoCP">
<port name="BancoCPPort" binding="tns:BancoCPPortBinding">
<soap:address location="http://localhost:8083/CanalPanamaServer/BancoCP"/>
</port>
</service>
</definitions>