Canal de Panama Cliente/src/conf/xml-resources/web-service-references/ProgDiaria/wsdl/localhost_8083/CanalPanamaServer/ProgDiaria.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servidor/" name="ProgDiaria">
<types>
<xsd:schema>
<xsd:import namespace="http://Servidor/" schemaLocation="http://localhost:8083/CanalPanamaServer/ProgDiaria?xsd=1"/>
</xsd:schema>
</types>
<message name="insertarProgramacionDiaria">
<part name="parameters" element="tns:insertarProgramacionDiaria"/>
</message>
<message name="insertarProgramacionDiariaResponse">
<part name="parameters" element="tns:insertarProgramacionDiariaResponse"/>
</message>
<message name="RHException">
<part name="fault" element="tns:RHException"/>
</message>
<message name="ParseException">
<part name="fault" element="tns:ParseException"/>
</message>
<message name="leerProgramacionDiaria">
<part name="parameters" element="tns:leerProgramacionDiaria"/>
</message>
<message name="leerProgramacionDiariaResponse">
<part name="parameters" element="tns:leerProgramacionDiariaResponse"/>
</message>
<portType name="ProgramacionDiaria">
<operation name="insertarProgramacionDiaria">
<input wsam:Action="http://Servidor/ProgramacionDiaria/insertarProgramacionDiariaRequest" message="tns:insertarProgramacionDiaria"/>
<output wsam:Action="http://Servidor/ProgramacionDiaria/insertarProgramacionDiariaResponse" message="tns:insertarProgramacionDiariaResponse"/>
<fault message="tns:RHException" name="RHException" wsam:Action="http://Servidor/ProgramacionDiaria/insertarProgramacionDiaria/Fault/RHException"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://Servidor/ProgramacionDiaria/insertarProgramacionDiaria/Fault/ParseException"/>
</operation>
<operation name="leerProgramacionDiaria">
<input wsam:Action="http://Servidor/ProgramacionDiaria/leerProgramacionDiariaRequest" message="tns:leerProgramacionDiaria"/>
<output wsam:Action="http://Servidor/ProgramacionDiaria/leerProgramacionDiariaResponse" message="tns:leerProgramacionDiariaResponse"/>
<fault message="tns:ParseException" name="ParseException" wsam:Action="http://Servidor/ProgramacionDiaria/leerProgramacionDiaria/Fault/ParseException"/>
<fault message="tns:RHException" name="RHException" wsam:Action="http://Servidor/ProgramacionDiaria/leerProgramacionDiaria/Fault/RHException"/>
</operation>
</portType>
<binding name="ProgramacionDiariaPortBinding" type="tns:ProgramacionDiaria">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="insertarProgramacionDiaria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RHException">
<soap:fault name="RHException" use="literal"/>
</fault>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
</operation>
<operation name="leerProgramacionDiaria">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ParseException">
<soap:fault name="ParseException" use="literal"/>
</fault>
<fault name="RHException">
<soap:fault name="RHException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ProgDiaria">
<port name="ProgramacionDiariaPort" binding="tns:ProgramacionDiariaPortBinding">
<soap:address location="http://localhost:8083/CanalPanamaServer/ProgDiaria"/>
</port>
</service>
</definitions>