Canal de Panama Cliente/src/conf/xml-resources/web-service-references/Buque/wsdl/localhost_8083/CanalPanamaServer/Buque.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servidor/" name="Buque">
<types>
<xsd:schema>
<xsd:import namespace="http://Servidor/" schemaLocation="http://localhost:8083/CanalPanamaServer/Buque?xsd=1"/>
</xsd:schema>
</types>
<message name="cargarBuques">
<part name="parameters" element="tns:cargarBuques"/>
</message>
<message name="cargarBuquesResponse">
<part name="parameters" element="tns:cargarBuquesResponse"/>
</message>
<message name="RHException">
<part name="fault" element="tns:RHException"/>
</message>
<message name="cargarBuque">
<part name="parameters" element="tns:cargarBuque"/>
</message>
<message name="cargarBuqueResponse">
<part name="parameters" element="tns:cargarBuqueResponse"/>
</message>
<portType name="Buque">
<operation name="cargarBuques">
<input wsam:Action="http://Servidor/Buque/cargarBuquesRequest" message="tns:cargarBuques"/>
<output wsam:Action="http://Servidor/Buque/cargarBuquesResponse" message="tns:cargarBuquesResponse"/>
<fault message="tns:RHException" name="RHException" wsam:Action="http://Servidor/Buque/cargarBuques/Fault/RHException"/>
</operation>
<operation name="cargarBuque">
<input wsam:Action="http://Servidor/Buque/cargarBuqueRequest" message="tns:cargarBuque"/>
<output wsam:Action="http://Servidor/Buque/cargarBuqueResponse" message="tns:cargarBuqueResponse"/>
<fault message="tns:RHException" name="RHException" wsam:Action="http://Servidor/Buque/cargarBuque/Fault/RHException"/>
</operation>
</portType>
<binding name="BuquePortBinding" type="tns:Buque">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="cargarBuques">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RHException">
<soap:fault name="RHException" use="literal"/>
</fault>
</operation>
<operation name="cargarBuque">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RHException">
<soap:fault name="RHException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Buque">
<port name="BuquePort" binding="tns:BuquePortBinding">
<soap:address location="http://localhost:8083/CanalPanamaServer/Buque"/>
</port>
</service>
</definitions>