Canal de Panama Cliente/src/conf/xml-resources/web-service-references/Puerto/wsdl/localhost_8083/CanalPanamaServer/Puerto.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servidor/" name="Puerto">
<types>
<xsd:schema>
<xsd:import namespace="http://Servidor/" schemaLocation="http://localhost:8083/CanalPanamaServer/Puerto?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="leerPuertos">
<part name="parameters" element="tns:leerPuertos"/>
</message>
<message name="leerPuertosResponse">
<part name="parameters" element="tns:leerPuertosResponse"/>
</message>
<message name="RHException">
<part name="fault" element="tns:RHException"/>
</message>
<message name="leerPuertoPorID">
<part name="parameters" element="tns:leerPuertoPorID"/>
</message>
<message name="leerPuertoPorIDResponse">
<part name="parameters" element="tns:leerPuertoPorIDResponse"/>
</message>
<portType name="Puerto">
<operation name="hello">
<input wsam:Action="http://Servidor/Puerto/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Servidor/Puerto/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="leerPuertos">
<input wsam:Action="http://Servidor/Puerto/leerPuertosRequest" message="tns:leerPuertos"/>
<output wsam:Action="http://Servidor/Puerto/leerPuertosResponse" message="tns:leerPuertosResponse"/>
<fault message="tns:RHException" name="RHException" wsam:Action="http://Servidor/Puerto/leerPuertos/Fault/RHException"/>
</operation>
<operation name="leerPuertoPorID">
<input wsam:Action="http://Servidor/Puerto/leerPuertoPorIDRequest" message="tns:leerPuertoPorID"/>
<output wsam:Action="http://Servidor/Puerto/leerPuertoPorIDResponse" message="tns:leerPuertoPorIDResponse"/>
<fault message="tns:RHException" name="RHException" wsam:Action="http://Servidor/Puerto/leerPuertoPorID/Fault/RHException"/>
</operation>
</portType>
<binding name="PuertoPortBinding" type="tns:Puerto">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="leerPuertos">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RHException">
<soap:fault name="RHException" use="literal"/>
</fault>
</operation>
<operation name="leerPuertoPorID">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RHException">
<soap:fault name="RHException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Puerto">
<port name="PuertoPort" binding="tns:PuertoPortBinding">
<soap:address location="http://localhost:8083/CanalPanamaServer/Puerto"/>
</port>
</service>
</definitions>