Canal de Panama Cliente/src/conf/xml-resources/web-service-references/Puerto/wsdl/localhost_8083/CanalPanamaServer/Puerto.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servidor/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servidor/">

<xs:element name="RHException" type="tns:RHException"/>

<xs:element name="hello" type="tns:hello"/>

<xs:element name="helloResponse" type="tns:helloResponse"/>

<xs:element name="leerPuertoPorID" type="tns:leerPuertoPorID"/>

<xs:element name="leerPuertoPorIDResponse" type="tns:leerPuertoPorIDResponse"/>

<xs:element name="leerPuertos" type="tns:leerPuertos"/>

<xs:element name="leerPuertosResponse" type="tns:leerPuertosResponse"/>

<xs:complexType name="leerPuertoPorID">
<xs:sequence>
<xs:element name="k_buque" type="xs:long" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="leerPuertoPorIDResponse">
<xs:sequence>
<xs:element name="return" type="tns:puertoVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="puertoVO">
<xs:sequence>
<xs:element name="k_puerto" type="xs:long"/>
<xs:element name="n_puerto" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RHException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="hello">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="helloResponse">
<xs:sequence>
<xs:element name="return" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="leerPuertos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="leerPuertosResponse">
<xs:sequence>
<xs:element name="return" type="tns:puertoVO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>