Canal de Panama Cliente/src/conf/xml-resources/web-service-references/Subasta/wsdl/localhost_8083/CanalPanamaServer/Subasta.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servidor/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servidor/">

<xs:element name="RHException" type="tns:RHException"/>

<xs:element name="buscarSubasta" type="tns:buscarSubasta"/>

<xs:element name="buscarSubastaEspecifica" type="tns:buscarSubastaEspecifica"/>

<xs:element name="buscarSubastaEspecificaResponse" type="tns:buscarSubastaEspecificaResponse"/>

<xs:element name="buscarSubastaResponse" type="tns:buscarSubastaResponse"/>

<xs:element name="cerrarSubasta" type="tns:cerrarSubasta"/>

<xs:element name="cerrarSubastaResponse" type="tns:cerrarSubastaResponse"/>

<xs:element name="listarSubastas" type="tns:listarSubastas"/>

<xs:element name="listarSubastasResponse" type="tns:listarSubastasResponse"/>

<xs:complexType name="buscarSubastaEspecifica">
<xs:sequence>
<xs:element name="k_subasta" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarSubastaEspecificaResponse">
<xs:sequence>
<xs:element name="return" type="tns:subastaVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="subastaVO">
<xs:sequence>
<xs:element name="f_aperturasubasta" type="xs:dateTime" minOccurs="0"/>
<xs:element name="f_cuposubasta" type="xs:dateTime" minOccurs="0"/>
<xs:element name="f_vencimientosubasta" type="xs:dateTime" minOccurs="0"/>
<xs:element name="k_subasta" type="xs:long"/>
<xs:element name="v_incrementominimo" type="xs:long"/>
<xs:element name="v_pujainicial" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="RHException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cerrarSubasta">
<xs:sequence>
<xs:element name="k_subasta" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cerrarSubastaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarSubastas">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="listarSubastasResponse">
<xs:sequence>
<xs:element name="return" type="xs:long" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarSubasta">
<xs:sequence>
<xs:element name="k_reserva" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="buscarSubastaResponse">
<xs:sequence>
<xs:element name="return" type="tns:subastaVO" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>