Canal de Panama Cliente/src/conf/xml-resources/web-service-references/Transito/wsdl/localhost_8083/CanalPanamaServer/Transito.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://Servidor/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://Servidor/" name="Transito">
<types>
<xsd:schema>
<xsd:import namespace="http://Servidor/" schemaLocation="http://localhost:8083/CanalPanamaServer/Transito?xsd=1"/>
</xsd:schema>
</types>
<message name="hello">
<part name="parameters" element="tns:hello"/>
</message>
<message name="helloResponse">
<part name="parameters" element="tns:helloResponse"/>
</message>
<message name="insertTransitoR">
<part name="parameters" element="tns:insertTransitoR"/>
</message>
<message name="insertTransitoRResponse">
<part name="parameters" element="tns:insertTransitoRResponse"/>
</message>
<message name="RHException">
<part name="fault" element="tns:RHException"/>
</message>
<portType name="Transito">
<operation name="hello">
<input wsam:Action="http://Servidor/Transito/helloRequest" message="tns:hello"/>
<output wsam:Action="http://Servidor/Transito/helloResponse" message="tns:helloResponse"/>
</operation>
<operation name="insertTransitoR">
<input wsam:Action="http://Servidor/Transito/insertTransitoRRequest" message="tns:insertTransitoR"/>
<output wsam:Action="http://Servidor/Transito/insertTransitoRResponse" message="tns:insertTransitoRResponse"/>
<fault message="tns:RHException" name="RHException" wsam:Action="http://Servidor/Transito/insertTransitoR/Fault/RHException"/>
</operation>
</portType>
<binding name="TransitoPortBinding" type="tns:Transito">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="hello">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="insertTransitoR">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RHException">
<soap:fault name="RHException" use="literal"/>
</fault>
</operation>
</binding>
<service name="Transito">
<port name="TransitoPort" binding="tns:TransitoPortBinding">
<soap:address location="http://localhost:8083/CanalPanamaServer/Transito"/>
</port>
</service>
</definitions>