Canal de Panama Cliente/src/conf/xml-resources/web-service-references/Carga/wsdl/localhost_8083/CanalPanamaServer/Carga.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.2-b608 (trunk-7979; 2015-01-21T12:50:19+0000) JAXWS-RI/2.2.11-b150120.1832 JAXWS-API/2.2.12 JAXB-RI/2.2.12-b141219.1637 JAXB-API/2.2.13-b141020.1521 svn-revision#unknown. --><xs:schema xmlns:tns="http://Servidor/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://Servidor/">

<xs:element name="RHException" type="tns:RHException"/>

<xs:element name="insertarCarga" type="tns:insertarCarga"/>

<xs:element name="insertarCargaResponse" type="tns:insertarCargaResponse"/>

<xs:complexType name="insertarCarga">
<xs:sequence>
<xs:element name="carga" type="tns:cargaVO" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="cargaVO">
<xs:sequence>
<xs:element name="i_lastre" type="xs:int"/>
<xs:element name="i_unidadmedida" type="xs:string" minOccurs="0"/>
<xs:element name="k_reserva" type="xs:long"/>
<xs:element name="n_tipocarga" type="xs:string" minOccurs="0"/>
<xs:element name="v_peso" type="xs:long"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="insertarCargaResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="RHException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>
</xs:schema>