CanalPanamaServer/web/WEB-INF/wsit-Servidor.Buque.xml

<?xml version="1.0" encoding="UTF-8"?> 
 <definitions 
 xmlns="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" 
 xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
 xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" name="Buque" targetNamespace="http://Servidor/" xmlns:tns="http://Servidor/" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsrm="http://docs.oasis-open.org/ws-rx/wsrmp/200702" 
 >
    <message name="cargarBuque"/>
    <message name="cargarBuqueResponse"/>
    <message name="cargarBuques"/>
    <message name="cargarBuquesResponse"/>
    <message name="RHException"/>
    <portType name="Buque">
        <operation name="cargarBuque">
            <input message="tns:cargarBuque"/>
            <output message="tns:cargarBuqueResponse"/>
        </operation>
        <operation name="cargarBuques">
            <input message="tns:cargarBuques"/>
            <output message="tns:cargarBuquesResponse"/>
            <fault name="RHException" message="tns:RHException"/>
        </operation>
    </portType>
    <binding name="BuquePortBinding" type="tns:Buque">
        <operation name="cargarBuque">
            <input/>
            <output/>
        </operation>
        <operation name="cargarBuques">
            <input/>
            <output/>
            <fault name="RHException"/>
        </operation>
    </binding>
    <service name="Buque">
        <port name="BuquePort" binding="tns:BuquePortBinding"/>
    </service>
</definitions>
